.dialog-body{
    width: 30vw;
}

.button-group{
    width: 100%;
}

.button-group button{
    width: 100%;
    margin: 1em;
    margin-top: 0rem;
}

.input-field{
    width: 100%;
}

.input-field input{
    width: 100%;
}